extends layout

block content
  h1= title
  a(href='/new') Add New Message
  each message in messages
    .message 
    p User: #{message.user}
    p Message: #{message.text}
    p Added: #{message.added}